.env
/deployments/
/.idea/
/.vscode/
/build/
/node_modules/
/typechain/
/typechain-types/
/artifacts/
/cache/
.DS_Store
*.swp
.tmp
/.openzeppelin/unknown-31337.json
/yarn-error.log
/coverage
coverage.json
global.dev.json
/*.log
.cmd
.env.l2
.env.goerli
